<h1><u> REGISTERATION APP </u></h1>

<div class="form-group">
  <label> First Name : </label>
  <input type="text" placeholder="Enter here" [(ngModel)]="user.firstName" />
  <label> Last Name : </label>
  <input type="text" placeholder="Enter here" [(ngModel)]="user.lastName" />
</div> <br>

<div class="form-group">
  <label> Age :</label>
  <input type="number" placeholder="Enter here" [(ngModel)]="user.age" />
</div> <br>

<div class="form-group">
  <label> Gender :</label>
  <input type="radio" value="male" [(ngModel)]="user.gender" />Male
  <input type="radio" value="female" [(ngModel)]="user.gender" />Female
</div> <br>

<div class="form-group">
  <label> Email-ID :</label>
  <input type="email" placeholder="Enter here" [(ngModel)]="user.email" />
</div> <br>

<div class="form-group">
  <label> Password :</label>
  <input type="password" placeholder="Enter here" [(ngModel)]="user.password" />
</div> <br>

<div class="form-group">
  <label> Date Of Birth :</label>
  <input type="date" [(ngModel)]="user.dateOfBirth" />

  <label> Time Of Birth :</label>
  <input type="time" [(ngModel)]="user.timeOfBirth" />
</div> <br>

<div class="form-group">
  <label> Academic Report :</label>
  <span *ngFor="let academy of academyList">
    <input type="checkbox" [checked]="isSelected(academy.id)" [value]="academy.id"
      (change)="onAcademySelection($event.target.value)"> {{academy.name}}
    <!-- ngFor loop is used to print all academyList value.
            isSelected() is used to check whether selected item is present on the list or not.
            onAcademySelection() is used for storing the selected academy in userList.  -->
  </span>
</div> <br><br>

<div class="form-group">
  <label> COUNTRY : </label>
  <select id="country" (change)="onCountrySelection($event.target.value)">
    <option value="">--Select Country--</option>
    <option *ngFor="let country of countryListFromServer" [value]="country.countryId"> {{country.name}} </option>
  </select>

  <label> STATE : </label>
  <select id="state" (change)="onStateSelection($event.target.value)">
    <option value="">--Select State--</option>
    <option *ngFor="let state of stateList" [value]="state.stateId"> {{state.name}} </option>
  </select>

  <label> CITY : </label>
  <select id="city" (change)="onCitySelection($event.target.value)">
    <option value="">--Select City--</option>
    <option *ngFor="let city of cityList" [value]="city.cityId"> {{city.name}} </option>

</select>

</div><br><br>

<button id="btn" (click)="onRegister()"> Register </button><br><br>

<table>
  <thead>
    <tr>
      <td> User-ID </td>
      <td> First Name </td>
      <td> Last Name </td>
      <td> Age </td>
      <td> Gender </td>
      <td> Email </td>
      <td> Password </td>
      <td> DOB </td>
      <td> TOB </td>
      <td> Academic Report </td>
      <td> Country </td>
      <td> State </td>
      <td> City </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let user of userList'>
      <td> {{user.userId}} </td>
      <td> {{user.firstName}} </td>
      <td> {{user.lastName}} </td>
      <td> {{user.age}} </td>
      <td> {{user.gender}} </td>
      <td> {{user.email}} </td>
      <td> {{user.password}} </td>
      <td> {{user.dateOfBirth}} </td>
      <td> {{user.timeOfBirth}} </td>
      <td> {{user.academyList}} </td>
      <td> {{user.country}} </td>
      <td> {{user.state}} </td>
      <td> {{user.city}} </td>
    </tr>
  </tbody>
</table>

<pre>
  {{user|json}}
</pre>