<h1> REGISTERATION APP </h1>

  <div class="form-group">
    <label> First Name : </label>
    <input type="text" placeholder="Enter here" [(ngModel)] = "user.firstName"/>
    <label> Last Name : </label>
    <input type="text" placeholder="Enter here" [(ngModel)] = "user.lastName"/>
  </div><br>
  
  <div class="form-group">
    <label > Age :</label>
    <input type="number" placeholder="Enter here" [(ngModel)] = "user.age"/>
  </div> <br>

  <div class="form-group">
    <label> Gender :</label>
    <input type ="radio" value="male" [(ngModel)] = "user.gender"/>Male
    <input type ="radio" value="female" [(ngModel)] = "user.gender"/>Female
  </div> <br>

  <div class="form-group">
    <label> Email-ID :</label>
    <input type="email" placeholder="Enter here" [(ngModel)] = "user.email"/>
  </div> <br>

  <div class="form-group">
    <label > Password :</label>
    <input type="password" placeholder="Enter here" [(ngModel)] = "user.password"/>
  </div> <br>

  <div class="form-group">
    <label > Date Of Birth :</label>
    <input type="date" [(ngModel)] = "user.dateOfBirth"/>
    <label > Time Of Birth :</label>
    <input type="time" [(ngModel)] = "user.timeOfBirth"/>
  </div> <br>

  <div class="form-group">
    <label > Academic Report :</label>
    <span *ngFor = "let academy from academyList">
      <input type="checkbox" [checked] = "isSelected(academy.id)" > {{academy.name}}
    </span>
  </div> <br>
  
  <div class="form-group">    
    <label> Country : </label> 
    <select *ngFor = "let country form countryList"> 
        <option [value] = "isCountrySelect(country.id)"> {{country.name}} </option>
      </select> 
    <label> State : </label>
    <select *ngFor = "let state form stateList"> 
      <option [value] = "isStateSelect(state.id)"> {{state.name}} </option>
    </select> 

    <label> City : </label>
    <select *ngFor = "let city form cityList"> 
      <option [value] = "isCitySelect(city.id)"> {{city.name}} </option>
    </select> 

  </div> 

  <button> Register </button>


<!-- <table border="2px" style="border-collapse: collapse;">
  <thead>
    <tr>
      <th> First Name </th>  
      <th> Last Name </th>    
      <th> Age </th>  
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
    </tr>
  </tbody>
</table> -->

<pre>
  {{user|json}}
</pre>


