h1{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: blue;
 }
 label{
    color: red;
    padding-left: 30px;
 }
 #btn{
    color: blue;
    background-color: greenyellow;
    margin-left: 15%;       
 }
 table, td {
      border: 1px solid black;   
 }