<body>
<h1> My Registeration App </h1>

<form>
  <div class="form-group">
    <label> First Name : </label>
    <input placeholder="Enter here" [(ngModel)] = "user.firstName/>
    <label> Last Name : </label>
    <input placeholder="Enter here" [(ngModel)] = "user.lastName"/>
  </div><br>
  
  <div class="form-group">
    <label > Age :</label>
    <input placeholder="Enter here" [(ngModel)] = "user.age"/>
  </div> <br>

  <div class="form-group">
    <label> Gender :</label>
    <input type ="radio" value="male" [(ngModel)] = "user.gender"/>Male
    <input type ="radio" value="female" [(ngModel)] = "user.gender"/>Female
  </div> <br>

  <div class="form-group">
    <label> Email-ID :</label>
    <input type="email" placeholder="Enter here" [(ngModel)] = "user.email"/>
  </div> <br>

  <div class="form-group">
    <label > Password :</label>
    <input type="password" placeholder="Enter here" [(ngModel)] = "user.password"/>
  </div> <br>

  <div class="form-group">
    <label > Date Of Birth :</label>
    <input type="datetime-local" [(ngModel)] = "user.dob"/>
  </div> <br>

  <div class="form-group">
    <label > Academic Report :</label>
    <input type="checkbox" value="10" [(ngModel)] = "user.academic"/> 10th
    <input type="checkbox" value="12" [(ngModel)] = "user.academic"/> 12th
    <input type="checkbox" value="graduate" [(ngModel)] = "user.academic/> Graduation
  </div> <br>
  
  <div class="form-group">    
    Country :
    <select> 
      <option></option>
      <option value="india"> India </option>
      <option value="usa"> USA  </option>
      <option value="canada"> Canada </option> 
    </select> 
    State :
    <select> 
      <option></option>
      <option value="hyd"> Hyderabad </option>
      <option value="pune"> Pune  </option>
      <option value="delhi"> Delhi </option> 
    </select>
    City :
    <select>
      <option></option> 
      <option value="kphb"> KPHB </option>
      <option value="vadgaon"> Vadgaon  </option>
      <option value="noida"> Noida </option> 
    </select>  
  </div> <br>

  <button (click)="register()"> Register </button>
</form>

<table border="2px" style="border-collapse: collapse;">
  <thead>
    <tr>
      <th> First Name </th>  
      <th> Last Name </th>    
      <th> Age </th>  
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> {{firstName}} </td>
      <td> {{lastName}} </td>
      <td> {{age}} </td>
    </tr>
  </tbody>
</table>

</body>