h1{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: blue;
 }
 label{
     color: red;
     padding-left: 30px;
 }
 #btn{
     color: green;
     background-color: greenyellow;
     padding :0px,100px,0px,50px;
 }