<table>
    <thead>
      <tr>
        <td> User-ID </td>
        <td> First Name </td>
        <td> Last Name </td>
        <td> Age </td>
        <td> Gender </td>
        <td> Email </td>
        <td> Password </td>
        <td> DOB </td>
        <td> TOB </td>
        <td> Academic Report </td>
        <td> Country </td>
        <td> State </td>
        <td> City </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td> {{user.userId}} </td>
        <td> {{user.firstName}} </td>
        <td> {{user.lastName}} </td>
        <td> {{user.age}} </td>
        <td> {{user.gender}} </td>
        <td> {{user.email}} </td>
        <td> {{user.password}} </td>
        <td> {{user.dateOfBirth}} </td>
        <td> {{user.timeOfBirth}} </td>
        <td> {{user.academyList}} </td>
        <td> {{user.country}} </td>
        <td> {{user.state}} </td>
        <td> {{user.city}} </td>
      </tr>
    </tbody>
  </table>
  
  
